examples/rosreestr/MP_v06/smev-supplementary-commons-1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--==========================================  Структурированные типы  ==========================================-->
	<xs:element name="AttachmentRef" type="AttachmentRefType"/>
	<xs:complexType name="AttachmentRefType">
		<xs:annotation>
			<xs:documentation>
				Ссылка из содержательной части запроса (заявки, ответа) на вложение, находящееся в том же СМЭВ-сообщении.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="attachmentId" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Идентификатор вложения, на которое ссылаемся. Должен быть равен значению
					//{urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/basic/1.0:AttachedFile}[n]/Id/text()
					того вложения, на которое нужно сослаться.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="PrimaryIdentityDocument" type="PrimaryIdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Основной документ, удостоверяющий личность.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdentityDocument" type="AnyIdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PassportRF" type="PassportRFType">
		<xs:annotation>
			<xs:documentation>Паспорт РФ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForeignPassport" type="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Паспорт иностранного гражданина</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResidencePermitRF" type="InternationalPassportRFType">
		<xs:annotation>
			<xs:documentation>Вид на жительство в РФ. Формат серии и номера совпадает с загранпаспортом.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InternationalPassportRF" type="InternationalPassportRFType">
		<xs:annotation>
			<xs:documentation>Загранпаспорт</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MilitaryPassport" type="MilitaryPassportDocumentType">
		<xs:annotation>
			<xs:documentation>Военный билет</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SailorPassport" type="MilitaryPassportDocumentType">
		<xs:annotation>
			<xs:documentation>Паспорт моряка</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SovietPassport" type="SovietPassportType">
		<xs:annotation>
			<xs:documentation>Паспорт СССР</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BirthCertificate" type="SovietPassportType">
		<xs:annotation>
			<xs:documentation>Свидетельство о рождении</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DrivingLicenseRF" type="DrivingLicenseRFType">
		<xs:annotation>
			<xs:documentation>Водительское удостоверение РФ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReleaseCertificate" type="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Справка об освобождении</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PassportLossCertificate" type="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Справка об утере паспорта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Form9Certificate" type="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Справка о регистрации по форме 9</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TemporaryIdentityCardRF" type="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Временное удостоверение личности гражданина РФ по форме 2П</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PrimaryIdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Основной документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:group ref="PrimaryIdentityDocument-ModelGroup"/>
	</xs:complexType>
	<xs:complexType name="AnyIdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:group ref="PrimaryIdentityDocument-ModelGroup"/>
			<xs:group ref="WeakIdentityDocument-ModelGroup"/>
			<xs:group ref="TemporaryIdentityDocument-ModelGroup"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="PrimaryIdentityDocument-ModelGroup">
		<xs:annotation>
			<xs:documentation>Основной документ, удостоверяющие личность. Подходит для любых юр. действий.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="PassportRF" type="PassportRFType">
				<xs:annotation>
					<xs:documentation>Паспорт РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignPassport" type="NotRestrictedDocumentType">
				<xs:annotation>
					<xs:documentation>Паспорт иностранного гражданина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidencePermitRF" type="InternationalPassportRFType">
				<xs:annotation>
					<xs:documentation>Вид на жительство в РФ. Формат серии и номера совпадает с загранпаспортом.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="WeakIdentityDocument-ModelGroup">
		<xs:annotation>
			<xs:documentation>Документы, удостоверяющие личность, ограниченного применения.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="InternationalPassportRF" type="InternationalPassportRFType">
				<xs:annotation>
					<xs:documentation>Загранпаспорт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MilitaryPassport" type="MilitaryPassportDocumentType">
				<xs:annotation>
					<xs:documentation>Военный билет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SailorPassport" type="MilitaryPassportDocumentType">
				<xs:annotation>
					<xs:documentation>Паспорт моряка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SovietPassport" type="SovietPassportType">
				<xs:annotation>
					<xs:documentation>Паспорт СССР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthCertificate" type="SovietPassportType">
				<xs:annotation>
					<xs:documentation>Свидетельство о рождении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrivingLicenseRF" type="DrivingLicenseRFType">
				<xs:annotation>
					<xs:documentation>Водительское удостоверение РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="TemporaryIdentityDocument-ModelGroup">
		<xs:annotation>
			<xs:documentation>Документы, удостоверяющие личность, временные.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="ReleaseCertificate" type="NotRestrictedDocumentType">
				<xs:annotation>
					<xs:documentation>Справка об освобождении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PassportLossCertificate" type="NotRestrictedDocumentType">
				<xs:annotation>
					<xs:documentation>Справка об утере паспорта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Form9Certificate" type="NotRestrictedDocumentType">
				<xs:annotation>
					<xs:documentation>Справка о регистрации по форме 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemporaryIdentityCardRF" type="NotRestrictedDocumentType">
				<xs:annotation>
					<xs:documentation>Временное удостоверение личности гражданина РФ по форме 2П</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="NotRestrictedDocumentType">
		<xs:annotation>
			<xs:documentation>Документ с нерегламентированными серией и номером</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="string-20" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9а-яА-ЯA-Za-z]{1,25}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassportRFType">
		<xs:annotation>
			<xs:documentation>Паспорт РФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="digits-4">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="digits-6">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SovietPassportType">
		<xs:annotation>
			<xs:documentation>Паспорт CCCP или свидетельство о рождении РФ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="SovietStyleDocumentSeriesType">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="digits-6">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternationalPassportRFType">
		<xs:annotation>
			<xs:documentation>Загранпаспорт, либо вид на жительство в РФ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="digits-2">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="digits-7">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MilitaryPassportDocumentType">
		<xs:annotation>
			<xs:documentation>Военный билет или паспорт моряка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[А-Я]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number" type="digits-7">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DrivingLicenseRFType">
		<xs:annotation>
			<xs:documentation>Водительское удостоверение, выданное в РФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series">
				<xs:annotation>
					<xs:documentation>
						Серия.
						Две цифры и две русские заглавные буквы для водительского удостоверения, полученного до 1 марта 2011 г., 
						или четыре цифры для водительского удостоверения, полученного после 1 марта 2011 г. Пример: 44АА или 4403
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
						<xs:pattern value="[0-9]{2}([0-9]{2})|([А-Я]{2})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number" type="digits-6">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="rus-and-num-200">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--==========================================  Заготовки для структурированных типов  ==========================================-->
	<xs:group name="PhysicalPersonQualifiedName-ModelGroup">
		<xs:annotation>
			<xs:documentation>ФИО физического лица.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyName" type="rus-100">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="rus-100">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Patronymic" type="rus-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="PhysicalPersonIdentificationInformation-ModelGroup">
		<xs:annotation>
			<xs:documentation>Установочные данные физического лица: ФИО + дата и место рождения.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="BirthDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="rus-and-num-500">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--==========================================  Простые типы  ==========================================-->
	<xs:simpleType name="RFC2046MimeTypesType">
		<xs:annotation>
			<xs:documentation>Типы вложений, в формате RFC-2046.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(text|image|audio|video|application)/[a-zA-Z0-9\-+.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalCodeRFType">
		<xs:annotation>
			<xs:documentation>
				Почтовый индекс, РФ. 
				Намеренно указаны одновременно и length и pattern, чтобы облегчить JavaScript коду валидацию "на лету".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumberRFType">
		<xs:annotation>
			<xs:documentation>Номер телефона в РФ, в десятизначном формате</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>Адрес электронной почты</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalPersonINNType">
		<xs:annotation>
			<xs:documentation>ИНН юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhysicalPersonINNType">
		<xs:annotation>
			<xs:documentation>ИНН физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KPPType">
		<xs:annotation>
			<xs:documentation>КПП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNCompanyType">
		<xs:annotation>
			<xs:documentation>ОГРН юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[125]{1}\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNSoleProprietorType">
		<xs:annotation>
			<xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[3]{1}\d{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CadastralNumberType">
		<xs:annotation>
			<xs:documentation>Кадастровый номер объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:pattern value="\d{2}:\d{2}:\d{6,7}:\d{1,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKATOType">
		<xs:annotation>
			<xs:documentation>Код ОКАТО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{1,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:annotation>
			<xs:documentation>Пол.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SovietStyleDocumentSeriesType">
		<xs:annotation>
			<xs:documentation>Серии документов, таких как свидетельства о рождении, советские паспорта, и т.д: римская цифра, тире, две прописные буквы кириллицы.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:pattern value="[IVXLCDM]{1,3}[\-][А-Я]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-7">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из семи цифр. Например номер загранпаспорта.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="\d{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-6">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из шести цифр. Например номер паспорта РФ.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-4">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из четырёх цифр. Например серия паспорта РФ.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-2">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из двух цифр. Например серия загранпаспорта.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-and-num">
		<xs:annotation>
			<xs:documentation>Русский текст. Допускаются также пробелы, цифры, точки, запятые, тире, апострофы.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яА-ЯёЁ\-0-9][а-яА-ЯёЁ\-\s'',.0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-and-num-500">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 500 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus-and-num">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-and-num-200">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 200 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus-and-num">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-and-num-100">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 100 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus-and-num">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-and-num-50">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 50 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus-and-num">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus">
		<xs:annotation>
			<xs:documentation>Русский текст. Допускаются также пробелы, точки, запятые, тире, апострофы. Цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яА-ЯёЁ\-0-9][а-яА-ЯёЁ\-\s'',.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-500">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 500 символов, цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-200">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 200 символов, цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-100">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 100 символов, цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-50">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 50 символов, цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rus">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
